{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid center">
    {% for action in actionTypes %}
        <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ action.id }}</h5>
                <div class="card-text">
                    {{ action.descr }}
                </div>
                <br />
                {% if action.status != 'Done' %}
                    <a href="http://{{ host }}/{{ action.id }}" class="btn btn-primary">Select</a>
                {% else %}
                    <img src="{{ action.filelocation }}"/>
                    <a href="#" class="btn btn-sm btn-success disabled">Done</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
